
receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  prometheus:
    endpoint: "0.0.0.0:9464"
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true
  # Loki exporter REMOVIDO pois não é suportado oficialmente

processors:
  batch: {}

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]
    # logs:
    #   receivers: [otlp]
    #   processors: [batch]
    #   exporters: [loki] # REMOVIDO
